<!-- PREVIEW -->
<section class="preview fancy-border">
  <button>
    <i class="far fa-trash-alt" aria-hidden="true"></i> Reset
  </button>
  <article class="preview__card fancy-border js__previewCard palette1">
    <div class="preview__header">
      <h2 class="preview__name js__preview_name">Nombre Apellidos</h2>
      <h3 class="preview__job js__preview_job">Front-end developer</h3>
    </div>

    <div class="js__profile-image preview__photo"></div>
   
    <nav>
      <a class="preview__icon" href="">
        <i class="fas fa-phone"></i>
      </a>
      <a class="preview__icon js__preview_email" href="">
        <i class="far fa-envelope"></i>
      </a>
      <a class="preview__icon" href="">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="preview__icon" href="">
        <i class="fab fa-github-alt"></i>
      </a>
    </nav>
  </article>
</section>
<!-- END PREVIEW -->